<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">About</h3>
    </div>
    <div class="panel-body">
        <p>这个wiki将帮助你更好的进行游戏</p>
        <p>Author: <b><%= config['wiki'].author %></b></p>
    </div>
</div>
